.stages,
.tops{
    padding: 20px 0;
}

.stages-container{
    background-color: #f1f8fc;
    padding: 20px;
    border-radius: 5px;
}

.stage-title{
    font-size: 1.1rem;
    font-weight: 600;
}

.stage-text{
    padding: 10px 0 20px 20px;
}

@media screen and (min-width:720px) {

    .stages,
    .tops{
        padding: 30px 0;
    }
    
    .stage-title{
        font-size: 1.3rem;
    }

}

@media screen and (min-width:1024px) {

    .stages,
    .tops{
    padding: 40px 0;
    }
    
    .stage-title{
        font-size: 1.6rem;
    }

}