.nav-btn-burger,
.nav-btn-search,
.nav-search,
.nav-menu{
    background-color: #F1F8FC; 
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  0 16px;
    padding: 14px 0;
}

.header-logo{
    width: 156px;
}

.nav-items{
    display: flex;
}

.nav-search{
    display: none;
}

.nav-menu{
    display: none;
}

.nav-btn-search,
.nav-btn-burger,
.nav-logo-search,
.nav-menu-link{
    color: #0074C7;
}

.show-search,
.show-links{
    display: inline-block;
    position: absolute;
    top: 120px;
    width: 100%;
    left: 0;
    padding: 20px 0;
    z-index: 999999;
    border-top: 3px solid #384050;
    border-bottom: 3px solid #384050;
}

.nav-searchbar {
    display: flex;
    justify-content: center;
}

.nav-search-input,
.nav-logo-search{
    border: 1px solid #0074C7;
}

.nav-search-input{
    width: 240px;
    height: 36px;
    border-right: none;
    background-color: #F1F8FC;
    color: #0074C7;
}

.nav-search-input:focus {
    border-color: #82b864;
    outline-color: #82b864;
}

.nav-search-input,
.nav-search-input::placeholder{
    padding-left: 10px;
}

.nav-search-input::placeholder{
    color: #0074C7;
    font-style: italic;
}

.nav-logo-search{
    padding: 6px;
}

.nav-search-item:first-child {
    margin-top: 20px;
}

.nav-search-item {
    margin: 0 16px;
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid #384050;
}

.nav-search-item:last-child {
    border-bottom: none;
}

.nav-search-link {
    color: #0074C7;
    font-size: 0.9rem;
}

.nav-menu-items{
    width: 100%;
}

.nav-menu-item{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 16px 0;
}

.nav-menu-link.active {
    color: #cd2c2e;
}

@media screen and (min-width:720px) {

    .nav{
        margin: 0 40px;
    }

    .header-logo{
        width: 280px;
    }

    .nav-search-logo,
    .nav-burger-logo{
        display: none;
    }
    
    .nav-search {
        display: block;
    }

    .nav-search-bar{
        display: flex;
    }

    .nav-search-items {
        position: absolute;
        background-color: #384050;
        width: 291px;
        z-index: 99999;
        border-radius: 0 0 5px 5px;
    }

    .nav-search-item {
        padding: 10px 0;
        border-color: #F1F8FC;
    }

    .nav-search-item:last-child {
        margin-bottom: 10px;
    }

    .nav-search-link {
        color: #F1F8FC;
    }

    .nav-menu{
        display: block;
        position: absolute;
        left: 40px;
        top: 130px;
    }

    .nav-menu-items{
        display: flex;
    }

    .nav-menu-item{
        padding: 0 12px;
    }

}

@media screen and (min-width:1024px) {

    .nav{
        margin: 0 120px;
    }

    .header-logo{
        width: 360px;
    }

    .nav-items{
        flex-direction: column;
        align-items: end;
    }

    .nav-menu{
        position: static;
        margin-top: 20px;
    }

    .nav-menu-item{
        font-size: 1.2rem;
        padding: 0 10px;
    }
    
}