*{
  margin: 0;
}

body {
  background-color: #0074c7;
  font-size: 1rem;
}

header{
  background-color: #f1f8fc;
}

main{
  margin: 0 16px;
}

footer{
  background-color: #384050;
}

h1,
h2{
  color: #384050;
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 20px;
}

p{
  color: #f1f8fc;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

a{
  text-decoration: none;
  color: black;
}

button{
  border: none;
}

@media screen and (min-width:720px) {
  
  main{
    margin: 0 40px;
    font-size: 1.2rem;
  }

  h1,
  h2{
    font-size: 2rem;
    text-align: start;
    padding-bottom: 30px;
  }
  
}

@media screen and (min-width:1024px) {
  
  main{
    margin: 0 120px;
    font-size: 1.5rem;
  }

  h1,
  h2{
    font-size: 2.5rem;
    padding-bottom: 40px;
  }
  
}
