body {
  margin: 0;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

a{
  text-decoration: none;
  color: black;
}

button{
  border: none;
}

@media screen and (min-width:720px) {
  
  
}

@media screen and (min-width:1024px) {
  
  
}
